body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Horizontal */
@media (min-width: 1920px) and (min-height: 1080px) {
  .logo-shake {
    width: 45rem !important;
  }

  .letrero-ordenes {
    font-size: 4rem !important;
  }
  .container-libreta {
    padding: 0 !important;
  }

  .libreta {
    width: 75% !important;
  }

  .pagina {
    padding: 2rem !important;
  }
  .pagina ul {
    gap: 0.5rem !important;
  }
  .pagina ul li {
    min-height: 5.8rem;
    height: 5.8rem;
  }
  .pagina ul li p {
    font-size: 5rem !important;
  }
}

/* vertical */
@media (min-width: 1080px) and (min-height: 1920px) {
  .logo-shake {
    min-width: 65rem !important;
    width: auto;
  }

  .letrero-ordenes {
    font-size: 7rem;
  }

  .pagina {
    padding: 2rem !important;
  }
  .pagina ul {
    gap: 1rem !important;
  }
  .pagina ul li {
    height: 12rem;
  }
  .pagina ul li p {
    font-size: 5.8rem !important;
  }
}

@media (min-width: 2160px) and (min-height: 3840px) {
  .logo-shake {
    width: 120rem !important;
  }

  .letrero-ordenes {
    font-size: 13rem !important;
  }
  .libreta {
    width: 98% !important;
  }
  .pagina {
    padding: 1rem !important;
  }
  .pagina ul {
    gap: 1rem !important;
  }
  .pagina ul li {
    padding-left: 2rem;
    height: 25rem;
  }
  .pagina ul li p {
    /* font-weight: 800 !important; */
    font-size: 12rem !important;
  }
}

.container-libreta {
  padding-bottom: 1.5rem;
  height: 100%;
  width: 100%;
}

.libreta {
  background-color: var(--colorPrincipal);
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100vh;
  justify-content: space-around;
  margin: 0 2rem;
  overflow: hidden;
  width: 98%;
}
.libreta-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fefeff;
  background-color: var(--colorSecundario);
  margin-top: 2rem;
  text-align: center;
}
.logo-shake {
  position: relative;
  width: 65rem;
  height: auto;
  overflow: hidden;
}
.logo-shake img {
  width: 100%;
  height: 1000%;
  object-fit: cover;
}
.letrero-ordenes {
  font-size: 7rem;
}

.letrero-ordenes p {
  margin: 0;
}
.pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 5rem;
  background-color: #fff;
}

.pagina ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9rem;
}

.pagina ul li p {
  font-size: 11.5rem;
  font-weight: 700;
  margin: 0;
  opacity: 0;
  transition: all 500ms ease;
  /* transform: translateY(-100%); */
}

.pagina h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para la página izquierda */
.pagina-izquierda {
  border-radius: 5px 0 0 5px;
}

/* Estilos para la página derecha */
.pagina-derecha {
  border-radius: 0 5px 5px 0;
}

.tranformY-0 {
  opacity: 1 !important;
  /* transform: translateY(0%) !important; */
}
