body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1751px) {
  .container-libreta {
    max-width: 150rem;
    width: 100%;
  }
  .order-on-hold {
    width: 30%;
  }
  .p-on-hold {
    font-size: 2.95rem !important;
  }
  .libreta-en-espera {
    height: 52rem !important;
  }
  .libreta-en-espera ul {
    gap: 2.5rem !important;
  }

  .libreta-en-espera ul li p {
    font-size: 4.5rem !important;
  }

  .logo-shake {
    width: 40rem !important;
  }
  .letrero-ordenes {
    font-size: 2.95rem !important;
  }
  .container-libreta {
    height: 68rem !important;
    /* width: 100%; */
  }
  .libreta {
    max-width: 120rem;
    /* height: 52rem !important; */
  }
  .pagina ul {
    gap: 3.9rem !important;
  }
  .pagina ul li p {
    font-size: 5.2rem !important;
  }
}

@media (min-width: 1751px) and (max-width: 2190px) {
  .logo-shake {
    width: 79rem !important;
  }

  .letrero-ordenes {
    font-size: 5.5rem !important;
  }
  .p-on-hold {
    font-size: 5.5rem !important;
  }
  .libreta-en-espera {
    height: 70rem !important;
  }
  .libreta-en-espera ul {
    gap: 2.5rem !important;
  }
  .libreta-en-espera ul li p {
    font-size: 6rem !important;
  }
  .container-libreta {
    height: 99rem !important;
    /* width: 100%; */
  }
  .pagina ul {
    gap: 3.9rem !important;
  }
  .pagina ul li p {
    font-size: 7rem !important;
  }
}

.container-libreta {
  height: 138rem;
  width: 100%;
}

.order-on-hold {
  align-self: end;
  height: auto;
  margin-right: 3rem;
  width: 40%;
}

.p-on-hold {
  color: #fff;
  font-family: var(--fuentePrincipal);
  font-size: 7rem;
}

.p-on-hold p {
  margin: 0;
}

.libreta-en-espera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background-color: #fff;
  border-radius: 0.5rem;
  height: 103rem;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}

.libreta-en-espera ul {
  height: 100%;
  padding: 1rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
  transition: all 1000ms ease;

}
.libreta-en-espera ul li {
  transition: all 500ms ease;
  transform: translateY(240%);
}
.libreta-en-espera ul li p {
  background-color: #fefeff;
  font-size: 8.5rem;
  margin: 0;
}

.libreta {
  background-color: var(--colorPrincipal);
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin: 0 2rem;
  overflow: hidden;
  /* padding-left: 7rem; */
  width: 100%;
}
.libreta-head {
  color: #fefeff;
  background-color: var(--colorSecundario);
  margin-top: 2rem;
  text-align: center;
}
.logo-shake {
  position: relative;
  width: 95rem;
  height: auto;
  overflow: hidden;
}
.logo-shake img {
  width: 100%;
  height: 1000%;
  object-fit: cover;
}
.letrero-ordenes {
  font-size: 7rem;
}
.letrero-ordenes p {
  margin: 0;
}
.pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.pagina ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9rem;
}

.pagina ul li p {
  font-size: 10.5rem;
  font-weight: 700;
  margin: 0;
  background-color: #fefeff;
}

.pagina-derecha ul li {
  transition: all 2000ms ease;
  transform: translateX(-120%);
}

.pagina-izquierda ul li {
  opacity: 0;
  transition: all 1000ms ease;
}

.pagina h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para la página izquierda */
.pagina-izquierda {
  border-radius: 5px 0 0 5px;
}

/* Estilos para la página derecha */
.pagina-derecha {
  border-radius: 0 5px 5px 0;
}

.tranformX-0 {
  opacity: 1 !important;
  transform: translateX(0%) !important;
}

.tranformY-0 {
  opacity: 1 !important;
  transform: translateY(0%) !important;
}

.ocultar{
  opacity: 0 !important;
  transition: all 1000ms ease;
}
